{%  extends "chopee/home.html"%}

{% block section %}
<section>
    <h1> product - create </h1>

</section>
<section>
    <from method = "POST">
        {% csrf_token %}
        <span>:Brand:<input name ="Brand" type = "text" / ></span>
        <span>:Name:<input name ="Name" type = "text" / ></span>
        <span>:Price:<input name ="Price" type = "number" / ></span>
        <span>:Year:<input name ="Year" type = "number" / ></span>
        <button class= "rounded-x1 px-6 py-1 border hover:bg-blue-200" type = "submit">submit

    </from>

{%endblock%}
